<!doctype html>
<html lang="en-US">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K1X9384BHD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K1X9384BHD');
</script>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Certlify</title>
    <meta name="msapplication-tap-highlight" , content="none" />
    <link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Certlify">
    <meta name="apple-mobile-web-app-title" content="Certlify">
    <meta name="theme-color" content="#34495E">
    <meta name="msapplication-navbutton-color" content="#FF9800">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="index.html">
    <link rel="icon" sizes="512x512" href="/imgs/badge.svg">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/animations.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/loader.css'/>
</head>

<body>
    <div class="ellipse-curve top-left">
        <div class="first-line">
        </div>
        <div class="second-line">
        </div>
        <div class="third-line">
        </div>
    </div>

    <div class="ellipse-curve">
        <div class="first-line">
        </div>
        <div class="second-line">
        </div>
        <div class="third-line">
        </div>
    </div>

    <header>
        <span class="logo"><img src="/imgs/Group 297.png" alt=""></span>
    </header>

    <main>
        <span>
            <p class="four-opor">4</p>
            <img src="/imgs/warning.svg" alt="certificate image">
            <p class="four-opor">4</p>
            <div class="custom-cir cir-left">
            </div>
            <div class="custom-cir">
            </div>

            <div class="custom-ellipse">
            </div>
        </span>

        <section class="landing-page-section">
            <h1>Page Not Found</h1>
            <p>We suggest you return to homepage while we fix the problem</p>
            <a id="return-home" href="/">Return to Homepage</a>
        </section>

    </main>
    
    <footer>
        <a href="https://github.com/DSC-Unilag/cert" target="_blank">
            <img src="/imgs/mark-github-512.png" alt="github logo">
        </a>
    </footer>
    <span class="loader">
        <div class="container-for-loader">
            <div class="large-circle">
            </div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
        </div>
    </span>
    <!-- <script src='/src/js/sw-install.js'></script> -->
    <script src='/src/js/main.js'></script>
</body>

</html>
