<!doctype html>
<html lang="en-US">

<head>
    <meta charset='utf-8'>
    <!--
         Todo:
        1. SEO meta tags to improve search results.
        2. animation
        3. app installation
        4. ONe page app
    -->

    <!-- 
        1. Create loader
        2. Add font-picker
        3. Fix service worker
        4. Fix the manage page.
        5. Fix add certificate icon
    -->

    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DSC Unilag Certificate Generator</title>
    <meta name="msapplication-tap-highlight" , content="none" />
    <!-- <link rel="manifest" href="/manifest.json"> -->

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="DSC Unilag Certificate Generator">
    <meta name="apple-mobile-web-app-title" content="DSC Unilag Certificate Generator">
    <meta name="theme-color" content="#34495E">
    <meta name="msapplication-navbutton-color" content="#FF9800">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="index.html">
    <link rel="icon" sizes="128x128" href="">
    <link rel="apple-touch-icon" sizes="128x128" href="">
    <link rel="icon" sizes="192x192" href="">
    <link rel="apple-touch-icon" sizes="192x192" href="">
    <link rel="icon" sizes="256x256" href="">
    <link rel="apple-touch-icon" sizes="256x256" href="">
    <link rel="icon" sizes="384x384" href="">
    <link rel="apple-touch-icon" sizes="384x384" href="">
    <link rel="icon" sizes="512x512" href="/imgs/icon.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/signup.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/manage-func.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/animations.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/loader.css'/>
</head>

<body>
    <header>
        <section class="logo-section">
            <span class="code-logo"><img class="cropped-logo" src="/imgs/code logo.jpg" alt="logo icon"></span>
            <div class="img-line"></div>
        </section>

        <span id="profile-image"><img id="user-image" src="/imgs/user.svg" alt="user icon" /></span>

        <input type="checkbox" id="toggle-butt" />

        <label for="toggle-butt" class="bread-crumbs">
            <div class="bread-crumb"></div>
            <div class="bread-crumb"></div>
            <div class="bread-crumb"></div>
        </label>

        <nav class="section-links">
            <ul class="home-links">
                <li id="gen-cert"><a href="#">Generated Certificates</a>
                    <hr class="active-cert">
                </li>
                <li><a href="#">Issued Certificates</a></li>
            </ul>
        </nav>

        <section class="volunteer-header">
            <h1 id="certificate-name"></h1>

        </section>
    </header>

    <main id="main-func" class="main-func-manage">
        <section id="cert-name" class="sign-page-section">
            <h1 class="first-text">Enter the certificate name</h1>
            <p class="second-text">Hi there!, what would you want to name this certificate when issued?</p>

            <form class="form-input" onsubmit="return false">
                <input type="text" id="certificate" placeholder="e.g Certificate of Volunteer" name="certificate"
                    autocomplete="current-password" minlength=4 required>

                <p id="password-message" class="message"></p>
                <button type="button" onclick="first()" class="sign-log">
                    Submit
                </button>
            </form>
        </section>
        <section id="edit-cert" class="edit-cert-section hide">
            <a onclick="" id="close-button">&#x2716;</a>
            <article class="main-upload">
                <div id="upload-div">
                    <label for="file" class="upload-style">CHOOSE CERTIFICATE FILE</label>
                    <input id="file" type="file" accept="image/*" onchange="loadFile(event)">
                </div>
                <div id="container">
                    <div id="canvas"></div>
                </div>
            </article>
        </section>
        <h3 id="prompt"></h3>
        <section id="value-input" class="value-input-section hide">
            <section class="input-details">
                <section>
                    <label for="full-name">Full name:</label>
                    <input class="" id="preview-test" type="text" autocomplete="name" name="fname" minlength="3" maxlength="40"
                        required placeholder="Enter your name" oninput="mark()" />
                </section>

                <section class="fonts-section">
                    <!-- <label for="font-picker">Font family:</label>
                    <section id="font-picker">
                    </section>

                    <label for="font-size">Font-size:</label> -->

                    <section class="climb-section">
                        <button id="minus" onclick="decreaseValue()">&#45;</button>
                        <input type="number" id="number" name="font-size" value="16" min="16" max="56" required>
                        <button id="plus" onclick="increaseValue()">&#43;</button>
                    </section>

                    <label for="color-code">Color:</label>
                    <input type="color" id="color" onchange="boundary.color=this.value;mark()">
                </section>
            </section>

            <hr />

            <section class="border-section">
                <a id="left_border">Left border</a>
                <a id="right_border">Right border</a>
                <a id="bottom">Text base</a>
                <a id="preview">Preview</a>
            </section>

            <input id="done" type="submit" value="Submit">
        </section>

        <section id="add-emails" class="edit-cert-section hide">
            <article class="main-upload">
                <div id="upload-div">
                    <form id="email-form" class="form" method="POST" enctype="multipart/form-data"
                        target="hidden-iframe">
                        <input type="file" name="FileUpload" accept=".csv">
                        <button class="icon">submit</button>
                    </form>
                </div>
            </article>
            <p id="error" style="color:red;"></p>
            <p>You may skip, this process now and add later on your dashboard. Note that only user emails you have
                uploaded would be eligile to generate</p>
            <button class="icon" type="button" onclick="next()">skip</button>
        </section>

        <section id="cert-link" class="sign-page-section hide">
            <h1 class="first-text">Generated certificate link</h1>
            <p class="second-text">Hi there! you can share the link below to those eligible for the certificate</p>

            <form id="email-input" class="form-input" onsubmit="return false">
                <input type="text" id="link" name="certificate" autocomplete="current-password" minlength=4
                    readonly=true required>

                <p id="password-message" class="message"></p>
                <button class="icon"><i class="copy"></i><span id="text">Copy</span></button>
                <button class="icon"><i class="share"></i><span id="text">Share</span></button>
            </form>
            <a id="goto" href="/dashboard">Go to dashboard</a>
        </section>
    </main>

    <footer>
        <iframe name="hidden-iframe" style="display: none;" onchange="parse()"></iframe>
    </footer>

    <span class="loader">
        <div class="container-for-loader">
            <div class="large-circle">
            </div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
        </div>
    </span>

    <script src='./src/js/FontSizer.js'></script>
    <script src='./src/js/canvas.js'></script>
    <script>
        var first = () => {
            let title = document.getElementById("certificate").value
            if (title.length >= 4) {
                data.name = title;
                document.getElementById("cert-name").classList.toggle("hide");
                document.getElementById("edit-cert").classList.toggle("hide");
                document.getElementById("certificate-name").innerHTML = title;
            }
        }
        var next = () => {
            document.getElementById("add-emails").classList.toggle("hide");
            document.getElementById("cert-link").classList.toggle("hide");
        }
        var parse = () => {
            let response = document.getElementsByName("hidden-iframe")[0].contentWindow.document
                .getElementsByTagName("pre")[0].innerText
            response = JSON.parse(response);
            if (response.status) {
                next();
            } else {
                document.getElementById("error").innerHTML = "Please check the format of your csv file"
            }
        }
    </script>
    <!-- <script src="/src/js/FontPicker.js"></script> -->
    <script>
        // import FontPicker from "font-picker";

        // const fontPicker = new FontPicker(
        //     "AIzaSyC1c-jtOCKTiFeVfSU6SVT4J3iWIkQ4RYo",
        //     "Open Sans"
        // );
    </script>
    <script src='/src/js/main.js'></script>

</body>

</html>