<!doctype html>
<html lang="en-US">

<head>
    <meta charset='utf-8'>
    <!--
         Todo:
        1. SEO meta tags to improve search results.
        2. animation
        3. app installation
        4. ONe page app
    -->
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DSC Unilag Certificate Generator</title>
    <meta name="msapplication-tap-highlight" , content="none" />
    <link rel="manifest" href="../manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="DSC Unilag Certificate Generator">
    <meta name="apple-mobile-web-app-title" content="DSC Unilag Certificate Generator">
    <meta name="theme-color" content="#34495E">
    <meta name="msapplication-navbutton-color" content="#FF9800">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="index.html">
    <link rel="icon" sizes="128x128" href="">
    <link rel="apple-touch-icon" sizes="128x128" href="">
    <link rel="icon" sizes="192x192" href="">
    <link rel="apple-touch-icon" sizes="192x192" href="">
    <link rel="icon" sizes="256x256" href="">
    <link rel="apple-touch-icon" sizes="256x256" href="">
    <link rel="icon" sizes="384x384" href="">
    <link rel="apple-touch-icon" sizes="384x384" href="">
    <link rel="icon" sizes="512x512" href="../imgs/icon.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../src/css/certificate.css'>
</head>

<body>
    <header>
        <div class="images">
            <span id="dsc-logo"><img id="cropped-logo" src="" alt="logo icon"></span>
            <span id="profile-image"><img id="user-image" src="../imgs/user.svg" alt="user icon" /></span>
        </div>
    </header>

    <section id="certificate-header">
        <h1>Certificate of Volunteer</h1>
    </section>
    
    <main class="main-upload">
      <div id="upload-div">
        <label for="file" class="upload-style">CHOOSE CERTIFICATE FILE</label>
        <input id="file" type="file" accept="image/*" onchange="loadFile(event)">
      </div>
      <div id="container">
        <div id="canvas"></div>
      </div>
    </main>
    <h3 id="prompt"></h3>
    <section class="controls">
<div class="left-panel">
    <input type="text" id="preview-test" value="Enter test text">
    <div class="format">
        <div class="dropdown">
            <button  id="tochange" onclick="myFunction()" class="dropbtn">Black</button>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            </div>
          </div>
        <form>
            <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
            <input type="number" id="number" oninput="newfont()" value="15" />
            <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
        </form>


    </div>
</div>
<div class="stick"></div>
<div class="right-panel">
    <div class="stack">
        <div id="left_border" class="button">Left border</div>
        <div id=bottom class="button">Text base</div>
    </div>
    <div class="stack">
        <div id="right_border" class="button">Right border</div>
        <div id="preview"class="button">Preveiw</div>
    </div>
    
</div>
<div id="done">done</div>
    </section>
    <script src='../src/js/ColorPicker.js'></script>
    <script src='../src/js/FontSizer.js'></script>
    <script src='../src/js/canvas.js'></script>
</body>

</html>