<!doctype html>
<html lang="en-US">

<head>
    <meta charset='utf-8'>
    <!--
         Todo:
        1. SEO meta tags to improve search results.
        2. animation
        3. app installation
        4. ONe page app
    -->
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DSC Unilag Certificate Generator</title>
    <meta name="msapplication-tap-highlight" , content="none" />
    <link rel="manifest" href="/manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="DSC Unilag Certificate Generator">
    <meta name="apple-mobile-web-app-title" content="DSC Unilag Certificate Generator">
    <meta name="theme-color" content="#34495E">
    <meta name="msapplication-navbutton-color" content="#FF9800">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="index.html">
    <link rel="icon" sizes="128x128" href="">
    <link rel="apple-touch-icon" sizes="128x128" href="">
    <link rel="icon" sizes="192x192" href="">
    <link rel="apple-touch-icon" sizes="192x192" href="">
    <link rel="icon" sizes="256x256" href="">
    <link rel="apple-touch-icon" sizes="256x256" href="">
    <link rel="icon" sizes="384x384" href="">
    <link rel="apple-touch-icon" sizes="384x384" href="">
    <link rel="icon" sizes="512x512" href="/imgs/icon.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/dashboard.css'>
</head>

<body>
    <header>
        <span id="dsc-logo"><img id="cropped-logo" src="" alt="logo icon"></span>
        <span id="profile-image"><img id="user-image" src="/imgs/user.svg" alt="user icon" /></span>

        <section class="search-section">
            <input type="search" placeholder="Search" />
            <button onclick=""><img src="/imgs/search.svg" alt=""></button>
        </section>

        <input type="checkbox" id="toggle-butt" />

        <label for="toggle-butt" class="bread-crumbs">
            <div class="bread-crumb"></div>
            <div class="bread-crumb"></div>
            <div class="bread-crumb"></div>
        </label>

        <nav class="section-links">
            <ul class="home-links">
                <li id="gen-cert"><a href="#">Generated Certificates</a>
                    <hr class="active-cert">
                </li>
                <li><a href="#">Issued Certificates</a></li>
            </ul>
        </nav>

        <section id="welcome" class="welcome-user">
        </section>

    </header>
    <main class="main-dashboard">
        <section id="cards" class="landing-page-section">

            <!--   <section class="certificate-card">
                <article>
                    <img src="../imgs/diploma (1).svg" alt="user certificate" />
                    <h2 class="cert-header">Certificate of Heroes</h2>
                    <a>Manage Certificate</a>
                </article>
            </section>
            
            <section class="certificate-card">
                <article>
                    <img src="../imgs/diploma (2).svg" alt="user certificate" />
                    <h2 class="cert-header">Certificate of Heroes</h2>
                    <a>Manage Certificate</a>
                </article>
            </section>
            
            <section class="certificate-card">
                <article>
                    <img src="../imgs/diploma (3).svg" alt="user certificate" />
                    <h2 class="cert-header">Certificate of Heroes</h2>
                    <a>Manage Certificate</a>
                </article>
            </section>-->

        </section>

    </main>
    <button id="add-cert">&#65291; Add Certificate</button>
    <script>
        let create=document.getElementById("add-cert");
        create.addEventListener("click",function(){
            location.href="/createcertificate"
        })
        var user;
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/api/getdashboard", true);
        //xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                user = JSON.parse(this.responseText)
                console.log(user)
                let welcome = document.getElementById("welcome");
                let cards = document.getElementById("cards")
                welcome.innerHTML = `<h1>Hi ${user.name},</h1>
            <p>You have issued <span id="user-cert-number">${user.certificateUrls.length}</span> certificates so far.</p>`
                if (user.certificateUrls.length !== 0) {
                    for (i in user.certs) {
                        cards.innerHTML += `<section class="certificate-card">
                <article>
                    <img src="${user.certs[i].src}" alt="user certificate" />
                    <h2 class="cert-header">${user.certs[i].name}</h2>
                    <a href="/manage/?link=${user.certificateUrls[i]}">Manage Certificate</a>
                </article>
            </section>`
                    }

                }
            }
            if (this.readyState == 4 && (this.status == 400 || this.status == 401)) {
                location.href = "/login"
            }
        };

        xhttp.send();



    </script>
</body>

</html>