<!doctype html>
<html lang="en-US">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Certlify</title>
    <meta name="msapplication-tap-highlight" , content="none" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Certlify">
    <meta name="apple-mobile-web-app-title" content="Certlify">
    <meta name="theme-color" content="#34495E">
    <meta name="msapplication-navbutton-color" content="#FF9800">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="index.html">
    <link rel="icon" sizes="512x512" href="../imgs/icon.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/certificate-gen.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/manage-func.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/animations.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/loader.css' />
</head>

<body>
    <span class="loader">
        <div class="container-for-loader">
            <div class="large-circle">
            </div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
        </div>
    </span>
    <header>
        <section class="logo-section">
            <span class="code-logo"><img class="cropped-logo" src="/imgs/code logo.jpg" alt="logo icon"></span>
            <div class="img-line"></div>
        </section>

        <span id="profile-image"><img id="user-image" src="/imgs/user.svg" alt="user icon" /></span>

        <input type="checkbox" id="toggle-butt" />

        <label for="toggle-butt" class="bread-crumbs">
            <div class="bread-crumb"></div>
            <div class="bread-crumb"></div>
            <div class="bread-crumb"></div>
        </label>

        <nav class="section-links">
            <ul class="home-links">
                <li><a href="/">Home</a>
                </li>
                <li class="gen-cert">
                    <a href="#">Issued Certificates</a>
                </li>
            </ul>
        </nav>

        <section class="volunteer-header">
            <h1 id="certificate-name"></h1>
        </section>
    </header>

    <main id="main-func" class="main-func-manage">
        <section id="cert-name" class="sign-page-section">
            <h1 class="first-text">Enter Email address</h1>
            <p class="second-text">Hi there! Please enter the email address recognized by your issuer</p>

            <form class="form-input" onsubmit="return false">
                <input type="text" id="email-verify" placeholder="Email Address" name="Email Address"
                    autocomplete="email" minlength=4 required>

                <p id="email-message" class="message"></p>
                <button id="done" type="button" class="sign-log">
                    Submit
                </button>
            </form>
        </section>
    </main>
    <!-- <script src='/js/FontSizer.js'></script>
    <script src='/js/generator.js'></script> -->
    <script>
        var xhttp = new XMLHttpRequest();
        var link;
        xhttp.open("GET", "/api/name", false);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                data = JSON.parse(this.responseText)
                let title = data.data.name;
                link = data.data.link;
                document.getElementById("certificate-name").innerHTML = title;
            }
        };
        xhttp.send();
    </script>
    <script src='/src/js/main.js'></script>
    <script>
        document.getElementById("done").addEventListener("click", function () {
            document.getElementById("email-message").style.display = "none";
            document.getElementById("done").style.display = "none";
            setTimeout(() => {
                document.getElementById("done").style.display = "block";
            }, 5000);
            let email = document.getElementById("email-verify").value;
            if (email.length > 4 && ValidateEmail(email)) {
                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", `/api/generate/${link}`, false);
                xhttp.setRequestHeader("Content-Type", "application/json");
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        let data = JSON.parse(this.responseText)
                        if (data.status) {
                            document.getElementById("email-message").style.display = "block";
                            document.getElementById("email-message").style.color = "blue";
                            document.getElementById("email-message").innerHTML = "Please check your email for your generation link"
                        }
                    }
                    if (this.readyState == 4 && this.status == 400) {
                        let data = JSON.parse(this.responseText)
                        if (!data.status && data.message == "inneligible") {
                            document.getElementById("email-message").style.display = "block";
                            document.getElementById("email-message").style.color = "red";
                            document.getElementById("email-message").innerHTML = "This email is inneligible for this certificate. Please verify the mail or contact your supposed issuer"
                        }
                        if (!data.status && data.message == "generated") {
                            document.getElementById("email-message").style.display = "block";
                            document.getElementById("email-message").style.color = "blue";
                            document.getElementById("email-message").innerHTML = "This email has already generated a certificate. You may check your mail for the link to generate again"
                        }
                    }
                };

                xhttp.send(JSON.stringify({ email }));
            } else {
                document.getElementById("email-message").style.display = "block";
                document.getElementById("email-message").innerHTML = "Please check the format of your email"
            }
        })


        function ValidateEmail(email) {
            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,10})+$/.test(email)) {
                return (true)
            }
            return (false)
        }
    </script>
</body>

</html>