<!doctype html>
<html lang="en-US">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Certlify</title>
    <meta name="msapplication-tap-highlight" , content="none" />
    <link rel="manifest" href="manifest.json">
    <meta name="description" content="Certlify is a certificate generator tool that easily generate your certificates with certlify anyday, anywhere, anytime, and at your own convinience.">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Certlify">
    <meta name="apple-mobile-web-app-title" content="Certlify">
    <meta name="theme-color" content="#34495E">
    <meta name="msapplication-navbutton-color" content="#FF9800">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="index.html">
    <link rel="icon" sizes="512x512" href="/imgs/badge.svg">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/animations.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/loader.css'/>
</head>

<body>
    <span class="loader">
        <div class="container-for-loader">
            <div class="large-circle">
            </div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
        </div>
    </span>
    <div class="ellipse-curve top-left">
        <div class="first-line">
        </div>
        <div class="second-line">
        </div>
        <div class="third-line">
        </div>
    </div>

    <div class="ellipse-curve">
        <div class="first-line">
        </div>
        <div class="second-line">
        </div>
        <div class="third-line">
        </div>
    </div>

    <header>
        <span class="logo"><img src="/imgs/Group 297.png" alt="Certlify logo"></span>
    </header>

    <main>
        <span>
            <img src="/imgs/diploma.svg" alt="certificate image">
        
            <div class="custom-cir cir-left">
            </div>
            <div class="custom-cir">
            </div>

            <div class="custom-ellipse">
            </div>
        </span>

        <section class="landing-page-section">
            <h1>Welcome to the Certlify!
                <br/>
                <i>Certificates on the go.</i>
            </h1>
            <p>Click on the button below to get started!</p>

            <a id="get-started" href="/dashboard">Get Started</a>
        </section>
    </main>
    
    <footer>
        <a href="https://github.com/DSC-Unilag/cert" target="_blank">
            <img src="/imgs/mark-github-512.png" alt="github logo">
        </a>
    </footer>
    <!-- <script src='/src/js/sw-install.js'></script> -->
    <script src='/src/js/main.js'></script>
</body>

</html>
