<!doctype html>
<html lang="en-US">

<head>
    <meta charset='utf-8'>
    <!--
         Todo:
        1. SEO meta tags to improve search results.
        2. ONe page app
    -->
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DSC Unilag Certificate Generator</title>
    <meta name="msapplication-tap-highlight" , content="none" />
    <link rel="manifest" href="manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="DSC Unilag Certificate Generator">
    <meta name="apple-mobile-web-app-title" content="DSC Unilag Certificate Generator">
    <meta name="theme-color" content="#34495E">
    <meta name="msapplication-navbutton-color" content="#FF9800">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="index.html">
    <link rel="icon" sizes="128x128" href="">
    <link rel="apple-touch-icon" sizes="128x128" href="">
    <link rel="icon" sizes="192x192" href="">
    <link rel="apple-touch-icon" sizes="192x192" href="">
    <link rel="icon" sizes="256x256" href="">
    <link rel="apple-touch-icon" sizes="256x256" href="">
    <link rel="icon" sizes="384x384" href="">
    <link rel="apple-touch-icon" sizes="384x384" href="">
    <link rel="icon" sizes="512x512" href="/imgs/icon.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/animations.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/loader.css'/>
</head>

<body>
    <div class="ellipse-curve top-left">
        <div class="first-line">
        </div>
        <div class="second-line">
        </div>
        <div class="third-line">
        </div>
    </div>

    <div class="ellipse-curve">
        <div class="first-line">
        </div>
        <div class="second-line">
        </div>
        <div class="third-line">
        </div>
    </div>

    <header>
        <span class="logo"><img src="/imgs/hero-dsc-about-unilag.png" alt=""></span>
    </header>

    <main>
        <span>
            <img src="/imgs/diploma.svg" alt="certificate image">
        
            <div class="custom-cir cir-left">
            </div>
            <div class="custom-cir">
            </div>

            <div class="custom-ellipse">
            </div>
        </span>

        <section class="landing-page-section">
            <h1>Welcome to the Certificate Generator</h1>
            <p>Easily generate your certificates at your convinience.</p>
            <p>Anywhere, anytime, and anyday.</p>

            <a id="get-started" href="/dashboard">Get Started</a>
        </section>

    </main>
    
    <footer>
        <a href="https://github.com/DSC-Unilag/cert" target="_blank">
            <img src="/imgs/mark-github-512.png" alt="github logo">
        </a>
    </footer>
    <span class="loader">
        <div class="container-for-loader">
            <div class="large-circle">
            </div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
        </div>
    </span>
    <!-- <script src='/src/js/sw-install.js'></script> -->
    <script src='/src/js/main.js'></script>
</body>

</html>