<!doctype html>
<html lang="en-US">

<head>
    <meta charset='utf-8'>
    <!--
         Todo:
        1. SEO meta tags to improve search results.
        2. ONe page app
    -->
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DSC Unilag Certificate Generator</title>
    <meta name="msapplication-tap-highlight" , content="none" />
    <link rel="manifest" href="manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="DSC Unilag Certificate Generator">
    <meta name="apple-mobile-web-app-title" content="DSC Unilag Certificate Generator">
    <meta name="theme-color" content="#34495E">
    <meta name="msapplication-navbutton-color" content="#FF9800">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="index.html">
    <link rel="icon" sizes="128x128" href="">
    <link rel="apple-touch-icon" sizes="128x128" href="">
    <link rel="icon" sizes="192x192" href="">
    <link rel="apple-touch-icon" sizes="192x192" href="">
    <link rel="icon" sizes="256x256" href="">
    <link rel="apple-touch-icon" sizes="256x256" href="">
    <link rel="icon" sizes="384x384" href="">
    <link rel="apple-touch-icon" sizes="384x384" href="">
    <link rel="icon" sizes="512x512" href="../imgs/icon.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/signup.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/animations.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/loader.css'/>
</head>

<body>
    <header>
        <nav class="section-links">
            <ul class="home-links">
                <li><a href="/index.html">Home</a>
                </li>
            </ul>
        </nav>
        <span class="logo"><img src="../imgs/hero-dsc-about-unilag.png" alt="DSC logo"></span>
    </header>

    <main>
        <section class="sign-page-section">
            <h1 class="first-text">Login</h1>
            <p class="second-text">Hi there! Kindly enter your login details</p>

            <form id="email-input" class="form-input" onsubmit="return false">
                <input type="email" id="email" placeholder="Enter your e-mail" name="email" autocomplete="email"
                    minlength=4 required>
                <input type="password" id="password" placeholder="Enter your password" name="password"
                    autocomplete="current-password" minlength=8 required>

                <p id="password-message" class="message"></p>
                <button type="button" onclick="main()" class="sign-log">
                    Login
                </button>
            </form>
            <p>Don't have an account? <a id="login" href="/signup">Sign up</a></p>
        </section>
    </main>

    <footer>
        <a href="https://github.com/DSC-Unilag/cert" target="_blank">
            <img src="/imgs/mark-github-512.png" alt="github logo">
        </a>
    </footer>

    <span class="loader">
        <div class="container-for-loader">
            <div class="large-circle">
            </div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
        </div>
    </span>
    <script>
        let main = () => {
            let data={};
            let password = document.getElementById("password").value
            let email = document.getElementById("email").value
            if (password.length >= 8 && ValidateEmail(email)) {
                data.password = password;
                data.email = email;
                send(data);
            }
        }
        let send = (data) => {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/api/login", true);
            xhttp.setRequestHeader("Content-Type", "application/json");
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    location.href = "/dashboard";
                }
                if (this.readyState == 4 && (this.status == 400||this.status==401)) {
                    document.getElementById("password-message").style.display = "inline";
                    document.getElementById("password-message").innerHTML = "email or password incorrect"
                }
            };

            xhttp.send(JSON.stringify(data));
        }
        function ValidateEmail(email) {
            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
                return (true)
            }
            return (false)
        }
    </script>
    <script src="/src/js/sw-install.js"></script>
    <script src='/src/js/main.js'></script>
</body>

</html>