<!doctype html>
<html lang="en-US">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K1X9384BHD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K1X9384BHD');
</script>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sign Up</title>
    <meta name="msapplication-tap-highlight" , content="none" />
    <link rel="manifest" href="/manifest.json">
    <meta name="description" content="Sign up on Certlify.">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Certlify">
    <meta name="apple-mobile-web-app-title" content="Certlify">
    <meta name="theme-color" content="#34495E">
    <meta name="msapplication-navbutton-color" content="#FF9800">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="index.html">
    <link rel="icon" sizes="512x512" href="/imgs/badge.svg">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/signup.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/animations.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/loader.css'/>
    <link rel='stylesheet' type='text/css' media='screen' href='/src/css/footer.css'/>
</head>

<body>
    <span class="loader">
        <div class="container-for-loader">
            <div class="large-circle">
            </div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
            <div class="inner-circle"></div>
        </div>
    </span>
    <header>
        <nav class="section-links">
            <ul class="home-links">
                <li><a href="/">Home</a>
                </li>
            </ul>
        </nav>
        <span class="logo"><img src="/imgs/Group 297.png" alt="Certlify logo"></span>
    </header>

    <main>
        <section class="sign-page-section">
            <h1 class="first-text">Sign up</h1>
            <p class="second-text">Hi there! Kindly enter the following details to create an account</p>

            <form id="form-input" class="form-input"onsubmit="return false">
                <input type="email" id="email" placeholder="Enter your e-mail" name="email" autocomplete="email"
                    minlength=4 required>
                <p style="display:none"id="email-message" class="message"></p>
                <input type="text" id="organization" placeholder="Enter your personal/organization name"
                    name="organization" minlength=2 autocomplete="organization" required>
                <input type="password" id="password" placeholder="Enter your password" name="password"
                    autocomplete="new-password" minlength=8 required>
                <input type="password" id="con-password" placeholder="Confirm your password" name="con-password"
                    autocomplete="new-password" minlength=8 required>
                <p style="display:none"id="password-message" class="message"></p>
                <button type="submit" onclick="matchpassword()" class="sign-log">
                    Sign up
                </button>
            </form>
            <p>Already have an account? <a id="login" href="/login">Login</a></p>
        </section>
    </main>
    <footer>
        <p class="contribute">
            <span>Want to contribute?</span>    
            <a href="https://github.com/DSC-Unilag/cert" target="_blank">
                <img src="/imgs/mark-github-512.png" alt="github logo">
            </a>
        </p>
        <p>Built by <a href="https://dsc.community.dev/university-of-lagos/"target="_blank"> <span><img src="/imgs/hero-dsc-about-unilag.png" alt="dsc unilag"></span></a></p>
        <p class="empty"style="width:10%;"></p>
    </footer>
    
    <!-- <script src="/src/js/sw-install.js"></script> -->
    <script>
        var form = document.getElementById("form-input");
        let email_text = document.getElementById("email-message");
        let password_text = document.getElementById("password-message");
        
        let matchpassword = () => {
            let data = {}
            let password = document.getElementById("password").value;
            let password2 = document.getElementById("con-password").value;
            let email = document.getElementById("email").value;
            let name = document.getElementById("organization").value;
            if (password !== password2) {
                password_text.style.display = "inline";
                password_text.innerHTML = "Passwords don't match";
            } else {
                password_text.style.display = "none";
                document.getElementById("password-message").innerHTML = ""
                if (password.length >= 8 && ValidateEmail(email) && name.length > 2) {
                    data.password = password;
                    data.email = email;
                    data.name = name;
                    send(data);
                }
            }
        }
    
        let send = (data) => {
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/api/register", true);
            xhttp.setRequestHeader("Content-Type", "application/json");
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 201) {
                    alert("An email has been sent to your mail for verification. Follow the link embeded in it to login");
                    location.href = "/login";
                }
                if (this.readyState == 4 && this.status == 409) {
                    email_text.style.display = "inline";
                    email_text.innerHTML = "email already in use";
                }
            };

            xhttp.send(JSON.stringify(data));
        }

        function ValidateEmail(email) {
            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
                return (true)
            }
            return (false)
        }
    </script>
    <script src='/src/js/main.js'></script>
    <script>
        let anon=()=>{
            var xhttp = new XMLHttpRequest();
           xhttp.open("GET", "/api/anon", true);
           xhttp.setRequestHeader("Content-Type", "application/json");
           xhttp.onreadystatechange = function () {
               if (this.readyState == 4) {
                   location.href = "/dashboard";
               }
           };

           xhttp.send();
        }
   </script>
</body>

</html>
