footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

footer p {
  color: #BBBBBB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  left: 1.5rem;
  flex-grow: 1;
}

footer .empty {
  width: 10%;
}

footer .built-by {
  width: 25%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1.5rem auto;
}

footer .built-by a {
  justify-self: center;
  position: relative;
  left: 2.7rem;
  top: -1rem;
  width: 1rem;
  height: auto;
  display: inline-block;
}

footer .contribute {
  position: relative;
  width: 10%;
  z-index: -1;
  top: 8.6rem;
  right: 1rem;
  padding-left: 1rem;
  left: 0;
  text-align: center;
  font-size: 0.6rem;
}

footer p span {
  position: relative;
}

footer p span img {
  position: absolute;
  width: 16.4rem;
  height: auto;
  top: 1rem;
  right: -5.7rem;
  z-index: -1;
}

@media screen and (min-width:40rem) {
  footer {
    justify-content: space-between;
  }

  footer .empty {
    width: 10%;
  }
}