@font-face {
    font-family: 'Nunito', Verdana, sans-serif;
    src: url("../../fonts/OpenSans-Regular.ttf");
  }
  
  * {
    font-family: 'Nunito', Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  html,
  body {
    color: #098dff;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.12rem;
    word-spacing: 0.16rem;
    display: flex;
    flex-direction: column;
  }
  
  ::-webkit-scrollbar {
    width: 1.3rem;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #fbbc04;
    border-radius: 1.5rem;
    transition: 90ms all ease-in;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ae8407;
  }
  
  header {
    background-color: #098dff;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header #profile-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100px;
  }
  
  header #profile-image img {
    align-self: center;
    width: 2.8rem;
    height: auto;
    border-radius: 50%;
    border: 1px solid;
  }
  #certificate-header {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  #upload-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    max-width: 600px;
    height: 40vw;
    max-height: 400px;
    border: 1px dashed #4285f4;
    opacity: 1;
  }
  #file {
    display: none;
  }
  .upload-style {
    width: 70%;
    height: 40px;
    color: white;
    text-align: center;
    font-size: 10px;
    background: #4285f4 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
  }
  .main-upload {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  #container {
      display:none;
      width: 60%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .controls {
    display: flex;
    justify-content: center;
  }
  
  .button {
    width: 100px;
    padding: 7px;
    text-align: center;
    border: 1px solid #4285f4;
    border-radius: 7px;
    margin: 4px;
  }
  
  .left-panel {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-right:10px;
  }
  .format {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
  }
  
  .right-panel {
      position: relative;
      height:auto;
    display: flex;
    margin-left: 10px;
  }
  .stick {
    position: relative;
    border: 0.2px solid black;
    width: 0px;
    height: 70px;
    background-color: black;
    margin-left: 4px;
    opacity: 0.43;
  }
  .stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 8px;
  }
  .dropbtn {
    background: #9cbff9 0% 0% no-repeat padding-box;
    padding: 10px;
    width: 100px;
    font-size: 12px;
    border-radius: 5px;
    opacity: 1;
  }
  .dropbtn:hover,
  .dropbtn:focus {
    background-color: skyblue;
  }
  #myInput {
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px 15px 10px 40px;
    border: 1px solid skyblue;
    border-bottom: 1px solid #ddd;
  }
  #myInput:focus {
    outline: 3px solid #ddd;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  .dropdown-content a {
    color: #16449b;
    padding: 5px 10px;
    font-size: 10px;
    text-decoration: none;
    display: block;
  }
  #myDropdown {
    height: 20vh;
    overflow: scroll;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .show {
    display: block;
  }
  .hide{
      display:none;
  }
  
  form {
    display: flex;
    flex-direction: row;
  }
  
  .value-button {
    position: relative;
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: auto;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #9cbff9 0% 0% no-repeat padding-box;
    border-radius: 0px 5px 5px 0px;
    opacity: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    position: relative;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: auto;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  