@font-face {
    font-family: "Open-Sans";
    src: url("./fonts/OpenSans-Regular.ttf");
}

* {
    font-family: Open-Sans, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    scroll-behavior: smooth;

}

html,
body {
    font-family: Open-Sans, Verdana, Geneva, Tahoma, sans-serif;
    color: #098dff;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.12rem;
    word-spacing: 0.16rem;
}

body {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
}

main {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
}

main span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main span img {
    width: 30%;
    height: auto
}

header {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

header span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 6.7rem;
}

header .logo img {
    width: 20rem;
    position: relative;
    z-index: -1;
    bottom: 4rem;
    height: auto;
}

main .landing-page-section {
    display: grid;
    height: auto;
    text-align: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: 7rem 3rem 2rem 7rem;
}

main .landing-page-section h1 {
    font-weight: 600;
    font-size: 1.13rem;
    color: #4285F4;
}


main .landing-page-section p {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: black;
    align-self: start;
}

a {
    text-decoration: none;
    color: #098dff;
    cursor: pointer;
}

.landing-page-section a,
.sign-log {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 5px lightgrey;
    border: none;
    color: white;
    width: 12.25rem;
    height: 2.5rem;
    background-color: #4285F4;
    transition: 300ms all ease-in;
}

.sign-log {
    width: 85%;
    margin-top: 1rem;
}

.landing-page-section a:hover,
.sign-log:hover {
    background-color: #619bf7;
}

.landing-page-section a:focus,
.sign-log:focus {
    background-color: #1f74fc;
}

.landing-page-section a:active,
.sign-log:active {
    background-color: #2e7eff;
}

input {
    width: 85%;
    height: 3rem;
    border: 1.7px solid #4285F4;
    padding-left: 0.3rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
}

.sign-page-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sign-page-section p {
    color: #707070;
    margin: 1rem 0;
    text-align: center;
    width: 100%;
}

.sign-page-section form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.1rem 0rem 2rem 0rem;
}

.sign-page-section h1 {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    font-weight: bolder;
}

.sign-page-section .second-text {
    text-align: center;
    padding: 1rem;
    width: 100%;
}

@media screen and (min-width: 40rem) {
    header #logo img {
        bottom: 4rem;
    }
}

@media screen and (min-width: 45rem) {
    main span img{
        width: 60%;
    }
    .sign-page-section form {
        width: 50rem;
    }
}

@media screen and (min-width: 62.3125rem) {
    main span img{
        width: 70%;
    }
    .sign-page-section form {
        width: 55.125rem;
    }
}

/* For another page */
/* 
header p {
    grid-area: 1 / 1 / 2 / 2;
    color: black;
    font-weight: bold;
    font-family: cursive;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
} */


/* 
header .section-links {
    grid-area: 2 / 1 / 3 / 3;
    width: 100%;
    position: relative;
    height: 0;
    justify-self: center;
    transition: all 400ms ease-in;
    overflow: hidden;
}

header #toggle-butt {
    display: none;
}

header #toggle-butt:checked~.section-links {
    height: 10rem;
} */

/* ul {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    grid-template-rows: 36%;
}

ul li {
    list-style-type: none;
    justify-self: center;
    display: inline-block;
    width: 100%;
    text-align: center;
}

ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    transition: all 80ms ease-in;
}

header .section-links ul {
    justify-self: end;
}

header .section-links ul li a {
    padding: 1rem;
    color: #03567b;
    font-size: 1rem;
}

header .bread-crumbs {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 0 1rem;
    height: 4rem;
    padding: 1rem 0;
    cursor: pointer;
    width: 3rem;
    justify-self: end;
}

.bread-crumb {
    display: inline-block;
    width: 95%;
    margin: 0.25rem;
    height: 0.19rem;
    background-color: #0088ff;
    border-radius: 3rem;
} */