@keyframes wobble {
    0% {
        border-top-left-radius: 40% 80%;
        border-top-right-radius: 40% 30%;
        border-bottom-left-radius: 60% 30%;
        border-bottom-right-radius: 20% 90%;
    }

    25% {
        border-top-left-radius: 45% 75%;
        border-top-right-radius: 45% 25%;
        border-bottom-left-radius: 65% 25%;
        border-bottom-right-radius: 25% 85%;
    }

    50% {
        border-top-left-radius: 50% 70%;
        border-top-right-radius: 50% 20%;
        border-bottom-left-radius: 70% 20%;
        border-bottom-right-radius: 30% 80%;
    }

    75% {
        border-top-left-radius: 45% 75%;
        border-top-right-radius: 45% 25%;
        border-bottom-left-radius: 55% 25%;
        border-bottom-right-radius: 25% 85%;
    }

    100% {
        border-top-left-radius: 40% 80%;
        border-top-right-radius: 40% 30%;
        border-bottom-left-radius: 60% 30%;
        border-bottom-right-radius: 20% 90%;
    }
}

@keyframes change-color {
    0% {
        background-color: #488af7;
    }

    25% {
        background-color: #6da1f5;
    }

    50%{
        background-color: gold;
    }

    75%{
        background-color: #f54d3e;
    }

    100% {
        background-color: #488af7;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes move-in-out-1 {
    0% {
        top: -1rem;
    }

    50% {
        top: 2rem;
    }

    100% {
        top: -1rem;
    }
}

@keyframes move-in-out-2 {
    0% {
        right: -1rem;
    }

    50% {
        right: 2rem;
    }

    100% {
        right: -1rem;
    }
}

@keyframes move-in-out-3 {
    0% {
        right: 3rem;
    }

    50% {
        right: -1rem;
    }

    100% {
        right: 3rem;
    }
}

@keyframes move-in-out-4 {
    0% {
        top: 3rem;
    }

    50% {
        top: -1rem;
    }

    100% {
        top: 3rem;
    }
}

@keyframes fade-out{
    100%{
        opacity: 0;
    }
}