@font-face {
    font-family: "Open-Sans";
    src: url("./fonts/OpenSans-Regular.ttf");
}

* {
    font-family: Open-Sans, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    scroll-behavior: smooth;

}

html,
body {
    color: #098dff;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.12rem;
    word-spacing: 0.16rem;
}

body {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    justify-items: center;
    align-content: center;
}

::-webkit-scrollbar {
    width: 1.5rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #FBBC04;
    border-radius: 1.5rem;
    transition: 90ms all ease-in;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ae8407;
}

main {
    display: grid;
    grid-template-rows: auto auto auto 3rem;
}

header {
    display: grid;
    grid-template-columns: 4rem 60% auto;
    grid-template-rows: 5rem auto 16rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    min-height: 23rem;
    color: white;
    background-color: #4285F4;
    width: 100%;
}

.welcome-user h1 {
    color: #FBBC04;
    font-size: 3rem;
}

header span {
    width: 100%;
    justify-self: end;
}

header .code-logo {
    display: none;
}

header #dsc-logo {
    display: none;
}

header #profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
}

header #profile-image img {
    width: 2.8rem;
    height: auto;
    border-radius: 50%;
    border: 1px solid;
}

header .search-section {
    position: relative;
    text-align: center;
    width: 100%;
    grid-area: 1 / 2 / 2 / 3;
}

header .search-section input {
    height: 3rem;
    width: 100%;
    border-radius: 11px;
    padding-left: 1rem;
    border: none;
}

header .search-section button {
    background: none;
    border: none;
    position: absolute;
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    right: 1rem;
    top: 0.5rem;
}

header .search-section button img {
    width: 1.7rem;
}


header .welcome-user {
    grid-area: 3 / 1 / 4 / 3;
    padding-left: 1rem;
    width: 100%;
    display: inline-block;
    height: 75%;
    align-self: self-start;
}

header #toggle-butt {
    display: none;
}

header #toggle-butt:checked~.section-links {
    height: 10rem;
}

header .section-links {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 0;
    grid-area: 2 / 1 / 3 / 4;
    justify-self: center;
    transition: all 400ms ease-in;
    overflow: hidden;
}

ul {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    grid-template-rows: 36%;
}

ul li {
    list-style-type: none;
    justify-self: center;
    display: flex;
    width: 15rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    transition: all 80ms ease-in;
}

header .section-links ul li a:hover {
    color: #fbbf09;
}

header .section-links ul li a:focus {
    color: #daa916;
}

header .section-links ul li a:active {
    color: #eed487;
}

header .section-links ul {
    justify-self: end;
}

header .section-links ul li a {
    padding: 0.8rem;
    color: white;
    font-size: 1rem;
}

header .section-links ul .gen-cert {
    position: relative;
}

header .section-links ul li .active-cert {
    background-color: #FBBC04;
    width: 11rem;
    height: 0.2rem;
    position: absolute;
    border: none;
    bottom: 0.3rem;
    right: 0;
    left: 2rem;
}

header .bread-crumbs {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 0 0.7rem;
    height: 4rem;
    padding: 1rem 0;
    cursor: pointer;
    width: 3rem;
    justify-self: end;
}

.bread-crumb {
    display: inline-block;
    width: 95%;
    margin: 0.25rem;
    height: 0.19rem;
    background-color: white;
    border-radius: 3rem;
}

.main-dashboard {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}

.main-dashboard .landing-page-section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    align-content: center;
    justify-items: center;
    width: 100%;
    position: relative;
    top: -4.1rem;
}

.main-dashboard .landing-page-section .certificate-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 3rem;
}

.main-dashboard .landing-page-section section:nth-child(1) article .cert-header {
    color: #FBBC04;
}

.main-dashboard .landing-page-section section:nth-child(2) article .cert-header {
    color: green;
}

.main-dashboard .landing-page-section section:nth-child(3) article .cert-header {
    color: red;
}

.landing-page-section .certificate-card article {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 12rem auto 4.5rem;
    justify-items: center;
    align-content: center;
    width: 85%;
    height: 24.5375rem;
    background-color: white;
    box-shadow: 25px 7px 47px #0000001A;
    margin: 0;
    z-index: 3;
    border-radius: 11px;
    border: 1px solid #FFFFFF;
}

.landing-page-section .certificate-card article>h2 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.main-dashboard .landing-page-section .certificate-card a,
.main-dashboard .landing-page-section button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 5px lightgracey;
    border: 1px solid #4285F4;
    text-decoration: none;
    color: #4285F4;
    border-radius: 0.2rem;
    width: 13.65rem;
    align-self: center;
    height: 2.5rem;
    cursor: pointer;
    background-color: white;
    transition: 90ms all ease-in;
}

.main-dashboard .landing-page-section .certificate-card a:hover {
    background-color: #4488f5;
    color: white;
}

#add-cert {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    box-shadow: 0px 3px 5px lightgrey;
    border-radius: 0.2rem;
    margin: 1rem 0rem 4rem 0rem;
    cursor: pointer;
    justify-self: center;
    width: 13rem;
    transition: 90ms all ease-in;
}

.main-dashboard .landing-page-section button:hover, #add-cert:hover {
    background-color: #558ae1;
}

.main-dashboard .landing-page-section .certificate-card a:focus,
.main-dashboard .landing-page-section button:focus, #add-cert:focus {
    background-color: #2673ee;
    color: white;
}

.main-dashboard .landing-page-section .certificate-card a:active,
.main-dashboard .landing-page-section button:active, #add-cert:active {
    background-color: #498af3;
    cursor: wait;
    color: white;
}

.main-dashboard .landing-page-section button {
    width: 15.875rem;
    background-color: #4285F4;
    color: white;
    border: none;
    font-size: 1.275rem;
}

.thumb {
    width: 200px;
    height: auto;
}


@media screen and (min-width: 45rem) {
    header {
        grid-template-columns: 4rem 40% auto auto;
        min-height: 21rem;
        width: 100%;
    }

    header #dsc-logo {
        display: inline;
    }

    .logo-section {
        width: 100%;
        height: 3rem;
        position: relative;
        top: -25px;
        right: 4.9rem;
    }

    .logo-section span img {
        width: 6.5rem;
        height: auto;
        box-shadow: none;
        border-bottom-right-radius: 40% 80%;
        border-bottom-left-radius: 60% 50%;
        border-top-right-radius: 55% 15%;
    }

    header .code-logo {
        display: inline-block;
        width: 6.9rem;
        height: 3.5rem;
        position: absolute;
        border: 1px solid;
        border-top: none;
        border-bottom-right-radius: 45% 80%;
        border-bottom-left-radius: 60% 50%;
        border-top-right-radius: 55% 15%;
    }

    header .section-links ul li .active-cert {
        right: 0;
    }

    header #profile-image {
        grid-area: 1 / 4 / 2 / 5;
        display: inline-block;
        text-align: center;
        justify-self: flex-start;
    }

    header .section-links {
        height: 3rem;
        grid-area: auto;
    }

    header .section-links ul {
        grid-template-columns: minmax(4rem, 10rem) minmax(6rem, auto) minmax(1rem, auto);
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
    }

    header .bread-crumbs {
        display: none;
    }

    .main-dashboard .landing-page-section .certificate-card {
        flex-wrap: wrap;
        width: 100%;
    }

    .main-dashboard .landing-page-section {
        grid-template-rows: auto;
        grid-template-columns: auto auto auto;
        top: -5.5rem;
    }

    .main-dashboard .landing-page-section button {
        grid-area: 2 / 2 / 3 / 3;
    }

    header .welcome-user {
        align-self: center;
    }
}

@media screen and (min-width: 64rem) {
    header {
        grid-template-columns: 4rem 47% 40% auto;
    }
}