.loader {
    display: flex;
    justify-content: center;
    position: fixed;
    background: white;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 4;
    cursor: progress;
}

.loader .container-for-loader {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    position: relative;
    transform: rotate(0deg);
    animation: rotate 2.5s linear infinite;
}

.loader .large-circle {
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #488af7;
    z-index: 9;
    box-shadow: 0px 0.5px 3px lightgrey;
    animation: change-color 4s ease-in infinite;
}

.loader .inner-circle {
    width: 2rem;
    height: 2rem;
    margin: 0;
    position: absolute;
    background-color: #6ba3ff;
    z-index: 1;
    border-radius: 50%;
    right: 0;
    display: inline-block;
}

.loader div:nth-child(2) {
    top: -1rem;
    right: 2rem;
    animation: change-color-gold 4s ease infinite, move-in-out-1 3s 1s linear infinite;
}

.loader div:nth-child(3) {
    right: -1rem;
    background-color: #ffda70;
    animation: change-color-red 4s ease infinite, move-in-out-2 3s 1s linear infinite;
}

.loader div:nth-child(4) {
    top: 2rem;
    right: 3rem;
    background-color: #7bd393;
    animation: change-color-blue 4s ease infinite, move-in-out-3 3s 1s linear infinite;
}

.loader div:nth-child(5) {
    top: 3rem;
    background-color: #e9665b;
    animation: change-color-green 4s ease infinite, move-in-out-4 3s 1s linear infinite;
}

.hide{
    display: none !important; 
}

.zero-opacity{
   animation: fade-out 0.4s forwards;
}