@font-face {
    font-family: "Open-Sans";
    src: url("./fonts/OpenSans-Regular.ttf");
}

* {
    font-family: Open-Sans, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    scroll-behavior: smooth;
}

html,
body {
    color: #098dff;
    font-size: 1rem;
    position: relative;
    line-height: 1.5;
    letter-spacing: 0.12rem;
    word-spacing: 0.16rem;
    height: 100%;
}

::-webkit-scrollbar {
    width: 1.3rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #FBBC04;
    border-radius: 1.5rem;
    transition: 90ms all ease-in;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ae8407;
}

main {
    display: grid;
    grid-template-rows: minmax(7rem, auto) 5rem;
    position: relative;
}

header {
    display: grid;
    margin: 0;
    grid-template-columns: minmax(6%, auto) minmax(50%, auto) minmax(2%, auto);
    grid-template-rows: 5rem auto 17rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    min-height: 22rem;
    color: white;
    background-color: #4285f4;
}

.volunteer-header h1 {
    color: white;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}

header .code-logo {
    display: none;
}

header .code-logo {
    display: none;
}

header #profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
}

header #profile-image img {
    width: 2.8rem;
    height: auto;
    border-radius: 50%;
    box-shadow: none;
    border: 1px solid;
}

header .section-links {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 0;
    grid-area: 2 / 1 / 3 / 4;
    justify-self: center;
    transition: all 330ms ease-in-out;
    overflow: hidden;
}

header .search-section {
    position: relative;
    text-align: center;
    grid-area: 1 / 2 / 2 / 3;
}

header .search-section input {
    height: 3rem;
    width: 100%;
    border-radius: 11px;
    padding-left: 1rem;
    border: none;
}

header .search-section button {
    background: none;
    border: none;
    position: absolute;
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    right: 1rem;
    top: 0.5rem;
}

header .search-section button img {
    width: 1.7rem;
}

header .volunteer-header {
    grid-area: 3 / 1 / 4 / 4;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 75%;
    align-self: auto;
}

header .volunteer-header a {
    position: relative;
    opacity: 1;
    height: auto;
}

header #toggle-butt {
    display: none;
}

header #toggle-butt:checked~.section-links {
    height: 9rem;
}

ul {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    grid-template-rows: 36%;
}

ul li {
    list-style-type: none;
    justify-self: center;
    display: flex;
    width: 15rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    transition: all 80ms ease-in;
}

header .section-links ul li a:hover {
    color: #fbbf09;
}

header .section-links ul li a:focus {
    color: #daa916;
}

header .section-links ul li a:active {
    color: #eed487;
}

header .section-links ul {
    justify-self: end;
}

header .section-links ul li a {
    padding: 0.8rem;
    color: white;
    font-size: 1rem;
}

header .section-links ul .gen-cert {
    position: relative;
}

header .section-links ul li .active-cert {
    background-color: #FBBC04;
    width: 13rem;
    height: 0.2rem;
    position: absolute;
    border: none;
    bottom: 0.3rem;
    right: 0;
    left: 1rem;
}

header .bread-crumbs {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 0 0.7rem;
    height: 4rem;
    padding: 1rem 0;
    cursor: pointer;
    width: 3rem;
    justify-self: end;
}

.bread-crumb {
    display: inline-block;
    width: 95%;
    margin: 0.25rem;
    height: 0.19rem;
    background-color: white;
    border-radius: 3rem;
}

.volunteer-header #back-button {
    display: inline-block;
    width: 3rem;
    height: auto;
    position: relative;
    bottom: 0.5rem;
}

.volunteer-header #back-button img {
    width: 3rem;
    height: auto;
}

.main-dashboard .cert-section {
    position: relative;
    top: -5.3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-dashboard .cert-section img {
    width: 90%;
    height: auto;
}

.main-dashboard .edit-section {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 2.7rem;
}

.main-dashboard .edit-section a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 5px lightgrey;
    border: 1px solid #4285F4;
    color: #4285F4;
    border-radius: 0.2rem;
    width: 13.65rem;
    margin-top: 1rem;
    align-self: center;
    height: 2.5rem;
    cursor: pointer;
    background-color: white;
    transition: 90ms all ease-in;
    text-decoration: none;
}

/* Modal  */
.collectors-modal,
#add-email-modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 0;
    color: white;
    background-color: #00000090;
}

.collectors-modal .collectors-panel {
    width: 90%;
    background: white;
    display: grid;
    color: black;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    box-shadow: 0px 2px 5px lightgrey;
    overflow-x: scroll;
}

.collectors-modal .collectors-panel .table-header {
    display: grid;
    justify-items: center;
    align-items: center;
    width: auto;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    color: white;
    background-color: #4285F4;
}


.main-func-manage .edit-cert-section .close-button,
.close-button {
    font-size: 2rem;
    width: 3rem;
    color: #2196f3;
    justify-self: start;
    text-decoration: none;
    box-shadow: none;
    height: 4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button {
    color: white;
    width: 1.5rem;
}

.main-func-manage .edit-cert-section .close-button:hover,
.close-button:hover {
    color: red;
}

.main-func-manage .edit-cert-section .close-button:focus,
.close-button:focus {
    color: rgb(247, 62, 62);
}

.main-func-manage .edit-cert-section .close-button:active {
    color: rgb(245, 59, 59);
}

.collectors-modal .collectors-panel .table-header a {
    justify-self: flex-start;
    grid-area: 1 / 1 / 2 / 2;
    padding: 2rem 3rem;
}

.collectors-modal .collectors-panel .table-header h3 {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    font-size: 1.8rem;
}

table,
th,
td {
    border: none;
    border-collapse: collapse;
    text-align: left;
    padding: 0.4rem;
    color: #BBBBBB;
}

.table-section {
    display: inline-block;
    justify-self: center;
    width: 80%;
}

#collectors {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1rem;
}

#collectors tbody {
    width: 90%;
}

#collectors tbody tr {
    width: 100%;
    margin-bottom: 0.3rem;
    border: 1px solid lightgrey;
    box-shadow: 1px 3px 5px lightgrey;
}

#collectors tbody tr:nth-child(1) {
    text-align: left;
    border: none;
    box-shadow: none;
    margin: 0;
}

#collectors tbody tr td {
    color: black;
    font-weight: bolder;
}

.color-green {
    color: green !important;
}

.color-red {
    color: red !important;
}

/* Copy to clipboard section */
.link-section{
    position: relative;
    z-index: 2;
    justify-self: center;
    top: -5rem;
    width: 100%;
    height: 7rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: center;
}

.link-section input[type="text"]{
    width: 16rem;
    height: 2rem;
    border: 1px solid #4285f4;
    border-radius: 0.3rem;
    box-shadow: 1px 3px 6px lightgrey;
}
/* Upload CSV */

.main-func-manage .edit-cert-section {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.main-upload {
    display: flex;
    height: auto;
    width: 100%;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.upload-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69vw;
    max-width: 721px;
    min-height: 31vw;
    padding: 1rem;
    max-height: 400px;
    border: 5px solid #4285f4;
    opacity: 1;
    background-color: #1d3a6a;
    box-shadow: 1px 3px 4px grey;
}

.upload-div form .custom-file {
    display: grid;
    width: 100%;
    padding: 0px;
    justify-self: center;
    outline: none;
    justify-content: space-around;
    align-items: center;
    justify-items: baseline;
    align-content: space-around;
    margin-top: 1rem;
    border: none;
    box-shadow: none;
    height: 3.6rem;
}

.icon i.copy {
    background: url(/imgs/copy.svg) no-repeat;
    float: left;
    transform: scale(0.4);
    width: 35px;
    height: 35px;
    margin: 0;
    z-index: 20;
}

.icon i.share {
    background: url(/imgs/share.svg) no-repeat;
    float: left;
    transform: scale(0.4);
    width: 35px;
    height: 35px;
    margin: 0;
}

#file,
#csv {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-style {
    width: 70%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
    min-height: 50px;
    cursor: pointer;
    box-shadow: 1px 3px 8px lightgrey;
    color: white;
    text-align: center;
    background: #4285f4 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    transition: all 90ms ease-in;
}

.upload-style:hover {
    background-color: #5f9af8;
}

.upload-style:focus {
    background-color: #1f65d6;
}

.upload-style:active {
    background-color: #3778e0;
}

.main-upload .close-button {
    color: white;
    width: 1.5rem;
    position: relative;
    left: -1rem;
    bottom: 5rem;
}

button.icon {
    width: 160px;
    height: 40px;
    background-color: #4285f4;
    color: white;
    padding: 0px 4px;
    justify-content: space-evenly;
    padding: 2px;
    margin: 1.3rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    box-shadow: 1px 4px 7px lightgrey;
}

button:hover{
    cursor: pointer;
}
.custom-file::-webkit-file-upload-button {
    visibility: hidden;
    display: inline-block;
}

.custom-file::before {
    content: 'Select a file (with .csv name extension)';
    background: linear-gradient(to bottom, #4285F4, #5f9af8);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    text-align: center;
    width: 21rem;
    margin: 0;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 400;
    text-shadow: none;
    color: white;
    box-shadow: 0px 3px 5px lightgrey;
}

.custom-file:hover::before {
    border-color: #4285F4;
}

.custom-file:active::before {
    background: -webkit-linear-gradient(to bottom, #2c79f3, #4d7fd0);
}

@media screen and (min-width: 45rem) {
    header {
        grid-template-columns: 4rem 40% auto auto;
        grid-template-rows: 5rem auto 13rem;
        min-height: 22rem;
    }

    .logo-section {
        width: 100%;
        height: 3rem;
        position: relative;
        top: -25px;
        right: 5.6rem;
    }

    .logo-section span img {
        width: 7.5rem;
        height: auto;
        box-shadow: none;
        border-bottom-right-radius: 40% 80%;
        border-bottom-left-radius: 60% 50%;
        border-top-right-radius: 55% 15%;
    }

    header .code-logo {
        display: inline-block;
        width: 8.1rem;
        height: 4rem;
        position: absolute;
        border: 1px solid;
        border-top: none;
        border-bottom-right-radius: 45% 80%;
        border-bottom-left-radius: 60% 50%;
        border-top-right-radius: 55% 15%;
    }

    header .volunteer-header {
        position: relative;
        grid-area: 3 / 1 / 4 / 5;
    }

    .main-dashboard .cert-section {
        top: -7rem;
    }

    .main-dashboard .cert-section img {
        width: 37.5rem;
    }

    .volunteer-header #back-button {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    header #dsc-logo {
        display: inline;
    }

    header .section-links ul li .active-cert {
        right: 0;
    }

    header #profile-image {
        grid-area: 1 / 4 / 2 / 5;
        display: inline-block;
        text-align: center;
        justify-self: flex-start;
    }

    header .section-links {
        height: 3rem;
        grid-area: auto;
    }

    header .section-links ul {
        grid-template-columns: minmax(4rem, auto) minmax(6rem, auto) minmax(1rem, auto);
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
    }

    header .bread-crumbs {
        display: none;
    }

    .main-dashboard .edit-section {
        top: -53.3px;
    }

    .main-dashboard .edit-section a {
        margin: 0rem 1.3rem;
    }

    .collectors-modal .collectors-panel {
        overflow-x: unset;
    }

    .custom-file::-webkit-file-upload-button {
        padding-left: 2rem;
    }

    .upload-div form .custom-file {
        padding-left: 8.9rem;
    }
    .link-section{
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        height: 5rem;
        width: 35rem;
        justify-items: center;
        margin: 0;
        align-items: center;
    }
    
    .link-section input[type="text"]{
        width: 23.9rem;
        height: 2.3rem;
        justify-self: center;
    }
}

@media screen and (min-width: 64rem) {
    header {
        grid-template-columns: 4rem 47% 40% 4rem;
    }
}