@font-face {
  font-family: "Open-Sans";
  src: url("./fonts/OpenSans-Regular.ttf");
}

:root {
  --main-color: #4285F4;
}

* {
  font-family: Open-Sans, Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  scroll-behavior: smooth;
}

html,
body {
  color: #098dff;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.12rem;
  word-spacing: 0.16rem;
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #fbbc04;
  border-radius: 1.5rem;
  transition: 90ms all ease-in;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ae8407;
}

hr {
  width: 17rem;
  justify-self: center;
  border: none;
  background-color: #707070;
  height: 0.08rem;
}

input,
a,
img {
  box-shadow: 1px 3px 7px #d3d0d0;
}

#goto {
  padding: 10px;
  border-radius: 10px;
  background-color: #4285F4;
  color: white;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

button,
select {
  cursor: pointer;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

button,
select {
  cursor: pointer;
}

main {
  display: grid;
  grid-template-rows: auto auto 3rem;
  position: relative;
  justify-items: center;
  align-content: center;
}

header {
  display: grid;
  margin: 0;
  grid-template-columns: 37% 40%;
  grid-template-rows: 5rem auto 17rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  min-height: 22rem;
  color: white;
  background-color: #4285f4;
}

.volunteer-header h1 {
  color: white;
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
}

header span {
  width: 100%;
  justify-self: end;
  height: auto;
}

header #code-logo {
  display: none;
}

header #profile-image {
  display: flex;
  justify-content: end;
  padding-left: 1.5rem;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2;
}

header #profile-image img {
  width: 2.8rem;
  height: auto;
  border-radius: 50%;
  box-shadow: none;
  border: 1px solid;
}

header .section-links {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 0;
  grid-area: 2 / 1 / 3 / 4;
  justify-self: center;
  transition: all 330ms ease-in-out;
  overflow: hidden;
}

header .volunteer-header {
  grid-area: 3 / 1 / 4 / 4;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 50%;
  align-self: auto;
}

header .volunteer-header a {
  position: relative;
  opacity: 1;
  height: auto;
}

header #toggle-butt {
  display: none;
}

header #toggle-butt:checked~.section-links {
  height: 9rem;
}

ul {
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
  grid-template-rows: 36%;
}

ul li {
  list-style-type: none;
  justify-self: center;
  display: flex;
  width: 15rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  transition: all 80ms ease-in;
}

header .section-links ul li a:hover {
  color: #fbbf09;
}

header .section-links ul li a:focus {
  color: #daa916;
}

header .section-links ul li a:active {
  color: #eed487;
}

header .section-links ul {
  justify-self: end;
}

header .section-links ul li a {
  padding: 0.8rem;
  color: white;
  font-size: 1rem;
  box-shadow: none;
}

header .section-links ul #gen-cert {
  position: relative;
}

header .section-links ul li .active-cert {
  background-color: #fbbc04;
  width: 13rem;
  height: 0.2rem;
  position: absolute;
  border: none;
  bottom: 0.3rem;
  right: 0;
  left: 1rem;
}

header .bread-crumbs {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 0 1rem;
  height: 4rem;
  padding: 1rem 0;
  cursor: pointer;
  width: 3rem;
  justify-self: start;
}

.bread-crumb {
  display: inline-block;
  width: 95%;
  margin: 0.25rem;
  height: 0.19rem;
  background-color: white;
  border-radius: 3rem;
}

.main-func-manage .edit-cert-section {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.main-func-manage .edit-cert-section #close-button {
  font-size: 2rem;
  width: 3rem;
  color: #2196f3;
  justify-self: start;
  text-decoration: none;
  box-shadow: none;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-func-manage .edit-cert-section #close-button:hover {
  color: red;
}

.main-func-manage .edit-cert-section #close-button:focus {
  color: rgb(247, 62, 62);
}

.main-func-manage .edit-cert-section #close-button:active {
  color: rgb(245, 59, 59);
}

.main-func-manage .edit-cert-section img {
  width: 90%;
  height: auto;
}

.main-func-manage .value-input-section,
.main-func-manage .value-input-section .input-details,
.main-func-manage .value-input-section .border-section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-func-manage .value-input-section .border-section {
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto;
  margin: 1rem 0rem;
}

.main-func-manage .value-input-section .input-details .fonts-section select {
  width: 5rem;
  height: 2rem;
}

.main-func-manage .value-input-section .input-details .climb-section {
  justify-content: center;
  width: auto;
}

.main-func-manage .value-input-section .input-details .climb-section #minus,
.main-func-manage .value-input-section .input-details .climb-section #plus {
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  background-color: #9cbff9;
  color: #4285f4;
  padding: 0.1rem 1rem;
  border: none;
}

.main-func-manage .value-input-section .input-details input[type="number"] {
  text-align: center;
  height: 2rem;
  box-shadow: none;
  padding: 1rem;
  margin: 0;
  border: 1px solid #9cbff9;
}

.main-func-manage .value-input-section .input-details .fonts-section select,
input[type="color"] {
  background-color: #9cbff9;
  color: white;
}

.main-func-manage .value-input-section .input-details .fonts-section input[type="color"] {
  width: 3rem;
  height: 2rem;
  margin: 0;
}

.main-func-manage .value-input-section .border-section a {
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0.4rem 0.6rem;
  border: 1px solid;
  border-radius: 0.5rem;
  text-decoration: none;
}

.main-func-manage .value-input-section .input-details {
  margin: 1rem 0;
  grid-template-columns: 19rem;
  grid-template-rows: auto auto;
}

.main-func-manage .value-input-section .input-details section {
  margin: 0.4rem 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-func-manage .value-input-section .input-details section input[type="text"] {
  width: 93%;
  text-align: center;
  border-radius: 0.4rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
  border: 1px solid #9cbff9;
}

.main-func-manage .value-input-section .input-details label {
  position: absolute;
  visibility: hidden;
}

.main-func-manage .value-input-section .border-section a {
  transition: 90ms all ease-in;
}

.main-func-manage .value-input-section .border-section a:first-child {
  color: white;
  background-color: red;
  border: none;
}

.main-func-manage .value-input-section .border-section a:first-child:hover {
  background-color: rgb(255, 94, 94);
}

.main-func-manage .value-input-section .border-section a:first-child:focus {
  background-color: rgb(253, 25, 25);
}

.main-func-manage .value-input-section .border-section a:first-child:active {
  background-color: rgb(253, 25, 25);
}

.main-func-manage .value-input-section .border-section a:nth-child(2) {
  color: #fbbc04;
  border-color: #fbbc04;
}

.main-func-manage .value-input-section .border-section a:nth-child(2):hover {
  background-color: #fbbc04;
  color: white;
}

.main-func-manage .value-input-section .border-section a:nth-child(2):focus {
  background-color: #c69607;
  color: white;
}

.main-func-manage .value-input-section .border-section a:nth-child(2):active {
  background-color: #fabf10;
  color: white;
}

.main-func-manage .value-input-section .border-section a:nth-child(3) {
  color: #0f9d58;
  border-color: #0f9d58;
}

.main-func-manage .value-input-section .border-section a:nth-child(3):hover {
  color: white;
  background-color: #0f9d58;
}

.main-func-manage .value-input-section .border-section a:nth-child(3):focus {
  color: white;
  background-color: #077a42;
}

.main-func-manage .value-input-section .border-section a:nth-child(3):active {
  color: white;
  background-color: #0fc46c;
}

.main-func-manage .value-input-section .border-section a:nth-child(4) {
  color: #4285f4;
  border-color: #4285f4;
}

.main-func-manage .value-input-section .border-section a:nth-child(4):hover {
  color: white;
  background-color: #4285f4;
}

.main-func-manage .value-input-section .border-section a:nth-child(4):focus {
  color: white;
  background-color: #1f65d6;
}

.main-func-manage .value-input-section .border-section a:nth-child(4):active {
  color: white;
  background-color: #3778e0;
}

.main-func-manage .value-input-section input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-shadow: 1px 4px 5px lightgrey;
  border: none;
  justify-self: center;
  font-size: 1.1rem;
  color: white;
  margin-bottom: 1rem;
  width: 12.25rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  background-color: #4285f4;
  transition: 90ms all ease-in;
  cursor: pointer;
}

.main-func-manage .value-input-section input[type="submit"]:hover {
  background-color: #619bf7;
}

.main-func-manage .value-input-section input[type="submit"]:focus {
  background-color: #3781f8;
}

.main-func-manage .value-input-section input[type="submit"]:active {
  background-color: #2e7eff;
}

#upload-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  max-width: 600px;
  height: 40vw;
  max-height: 400px;
  border: 1px dashed #4285f4;
  opacity: 1;
}

#container {
  display: none;
  width: 60%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#file,
#csv {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload-style {
  width: 70%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  height: 50px;
  cursor: pointer;
  box-shadow: 1px 3px 8px lightgrey;
  color: white;
  text-align: center;
  background: #4285f4 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
  transition: all 90ms ease-in;
}

.upload-style:hover {
  background-color: #5f9af8;
}

.upload-style:focus {
  background-color: #1f65d6;
}
.upload-style:active{
  background-color: #3778e0;
}

.main-upload {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button.icon {
  margin-left: 20px;
  margin-right: 20px;
  width: 160px;
  height: 40px;
  background-color: var(--main-color);
  color: white;
  padding: 0px 4px;
  justify-content: space-evenly;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.icon i.copy {
  background: url(/imgs/copy.svg) no-repeat;
  float: left;
  transform: scale(0.4);
  width: 35px;
  height: 35px;
  margin: 0;
  z-index: 20;
}

.icon i.share {
  background: url(/imgs/share.svg) no-repeat;
  float: left;
  transform: scale(0.4);
  width: 35px;
  height: 35px;
  margin: 0;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

#prompt {
  text-align: center;
}

@media screen and (min-width: 45rem) {
  header {
    grid-template-columns: 4rem 80% auto;
    grid-template-rows: 5rem auto 13rem;
    min-height: 18rem;
  }

  .logo-section {
    width: 100%;
    height: 3rem;
    position: relative;
  }

  .logo-section span img {
    width: 100%;
    height: auto;
    box-shadow: none;
  }

  header .volunteer-header {
    position: relative;
  }

  header #code-logo {
    display: inline-block;
    width: 80%;
    height: 3rem;
    position: absolute;
    border: 1px solid;
  }

  header .section-links ul li .active-cert {
    right: 0;
  }

  header #profile-image {
    grid-area: 1 / 3 / 2 / 4;
    display: inline-block;
    text-align: end;
    justify-self: flex-start;
  }

  header .section-links {
    height: 3rem;
    grid-area: auto;
  }

  header .section-links ul {
    grid-template-columns: 16rem 13rem;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
  }

  header .bread-crumbs {
    display: none;
  }

  .main-func-manage .value-input-section {
    grid-template-columns: auto 1rem auto;
    grid-template-rows: auto auto;
    height: 17rem;
  }

  .main-func-manage .value-input-section input[type="submit"] {
    grid-area: 2 / 1 / 3 / 4;
  }

  .main-func-manage .value-input-section input[type="submit"] {
    grid-area: 2 / 1 / 3 / 4;
  }

  .main-func-manage .edit-cert-section {
    width: 80%;
  }

  .main-func-manage .edit-cert-section img {
    width: 33.2rem;
  }

  hr {
    width: 0.08rem;
    height: 6rem;
  }
}

@media screen and (min-width: 64rem) {
  header {
    grid-template-columns: 20% 50% 20%;
  }
}